.techstack_container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background: linear-gradient(135deg, #f9f9f900 0%, #e0e0e0 100%); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.techstack_title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techstack_icon_wrapper {
  width: 100%;
  max-width: 1200px;
}

.techstack_icon_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Reduced gap between icons */
  margin: 20px 0;
}

.techstack_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.techstack_icon img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.techstack_icon:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
}
